@import url('https://fonts.googleapis.com/css2?family=Pirata+One&di
body{
    color:black;
    background-color:rgb(21, 255, 0)
}
font-family:.pirata-one-regular 
.suellen{
    color: white;
    background-color: darkgreen;
}

.raiane{
    color:white;
    background-color:darkgreen ;
}