@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body{
    color: black;
    background-color: rgb(21, 255, 0);
    font-family: "Pirata One";
}

.suellen{
    color: white;
    background-color: darkgreen;
}

.raiane{
    color:white;
    background-color:darkgreen ;
}
.pamela{
    color:white;
    background-color: darkgreen;
}
.hyara{
    color:white;
    background-color: darkgreen;
}    